<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Modification XML</title>
</head>

<body>
<form action="#" th:action="@{/UI}" th:object="${dataXmlDTO}" method="post">
  <table>
      <td>
          <text>Поля входящего XML</text>
    <br/>
          <input type="text" th:field="*{in1}" id="in1" placeholder="Income Field One">
    <br/>
          <input type="text" th:field="*{in2}" id="in2" placeholder="Income Field Two">
    <br/>
          <input type="text" th:field="*{in3}" id="in3" placeholder="Income Field Three">
    <br/>
          <input type="text" th:field="*{in4}" id="in4" placeholder="Income Field Four">
    <br/>
      </td>
      <td>
          <text>Поля иходящего XML</text>
    <br/>
          <input type="text" th:field="*{out1}" id="out1" placeholder="Outgoing Field One">
    <br/>
          <input type="text" th:field="*{out2}" id="out2" placeholder="Outgoing Field Two">
    <br/>
          <input type="text" th:field="*{out3}" id="out3" placeholder="Outgoing Field Three">
    <br/>
          <input type="text" th:field="*{out4}" id="out4" placeholder="Outgoing Field Four">
    <br/>
      </td>
      <td>
          <text>Тип файла Xml</text>
          <br/>
          <input type="text" th:field="*{type}" id="type" placeholder="TypeXML" required>
      </td>
      <td>
          <text>Версия Маппинга</text>
          <br/>
          <input type="number" th:field="*{version}" id="version" placeholder="VersionXML" required>
      </td>

  </table>

    <input type="submit" value="Done">
</form>
<form method="get" action="/UI/message/"><button type="submit">Back</button></form>


</td>
<td>
<table>
    <td>
        <text>Имена полей иходящего XML</text>
    </td>
    <tr>
        <td>
    <tr th:each="name : ${listFieldsNameOutgoing}">
        <td th:text="${name}"></td>
    </tr>
    </td>
    </tr>
</table>
</body>
</html>